<p id="notice"><%= notice %></p>


 <strong>Country:</strong>
  <%= @location.country %>
  </p>
<p>
  <strong>County:</strong>
  <%= @location.county %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Street Name:</strong>
  <%= @location.street_name %>
</p>
<p>
 <p>
  <strong>Plot Number:</strong>
  <%= @location.plot_number %></p>

<p>
  <strong>Door Number:</strong>
  <%= @location.door_number %>
</p>
<p>
  <strong>zipcode:</strong>
  <%= @location.zipcode %>
</p>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
<%# <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %1> %>
<h3>Nearby locations</h3>
<ul>
<%# <% for location in @location.nearbys(10) %1> %>
<%#   <li><%= link_to location.address, location %1> (<%= location.distance.round(2) %1> kilometers)</li> %>
<%# <% end %1> %>
</ul><%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to "View All",locations_path %>
