<%# <p id="notice"><%= notice %1></p> %>
<div class="container-fluid"><div class="row">
    <div class="col-xs-6 col-md-4">
  <ul class="list-group">
  <li class="list-group-item">
 <strong>Country:</strong>  <%= @location.country %>
</li>
  <li class="list-group-item"><strong>County   :</strong>  <%= @location.county %>

</li>
<li class="list-group-item"> <strong>Latitude  :</strong>  <%= @location.latitude %>
</li>
<li class="list-group-item">  <strong>Longitude:</strong> <%= @location.longitude %>
</li>
<li class="list-group-item"> <strong>Estate:</strong> <%= @location.address %>
</li>

<li class="list-group-item"> <strong>Street Name:</strong> <%= @location.street_name %>
</li>
<li class="list-group-item">  <strong>Plot Number:</strong> <%= @location.plot_number %></li>

<li class="list-group-item">  <strong>Door Number:</strong> <%= @location.door_number %>
</li>
<li class="list-group-item">  <strong>zipcode:</strong> <%= @location.zipcode %>
</li>
  </ul>    
    </div>
    <div class="col-xs-12 col-md-8"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=800x400&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
    </div>

    </div>
    </div>




<%# <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %1> %>
<h3>Nearby locations</h3>
<ul>
<%# <% for location in @location.nearbys(10) %1> %>
<%#   <li><%= link_to location.address, location %1> (<%= location.distance.round(2) %1> kilometers)</li> %>
<%# <% end %1> %>
</ul><%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to "View All",locations_path %>
